@use "functions/functions" as func;
@use "bases/reset";
@use "bases/fonts";
@use "variables/variables" as var;
@use "pages/home";
@use "mixins/mixins" as mix;


//****************************//
//****** GLOBAL SETTING ******//
//****************************//
body {
    font-family: fonts.$base-font;
    color: var.$white-color;
    background-color: var.$body-color;
}

h1 {
    font-size: func.toRem(36);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: var.$white-color;
}

h2 {
    font-size: func.toRem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.wrapper {
    width: func.toRem(1024);
    margin: 0rem auto;
}

.svg-txt {
    @include mix.flex(row, center, center);
    gap: func.toRem(4);
}

.text-color {
    color: var.$text-color;
}

.uppercase {
    text-transform: uppercase
}


//****************************//
//******** NAVIGATION ********//
//****************************//
nav {
    @include mix.flex(row, space-between, center);
    height: func.toRem(80);
    // background-color: rgb(17, 32, 32);

    ul {
        @include mix.flex();
        gap: func.toRem(48);
        list-style-type: none;

        a {
            color: var.$white-color;
            font-size: func.toRem(16);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            text-decoration: none;
        }
    }
}


//****************************//
//*********** MAIN ***********//
//****************************//

//------ HERO SECTION --------//
#hero .container {
    @include mix.flex(column, flex-start, center);
    gap: func.toRem(56);
}

.hero-header {
    @include mix.flex(column, flex-start, center);
    padding-top: func.toRem(72);
    gap: func.toRem(24);

    .hero-header-content {
        @include mix.flex(column, flex-start, center);
        gap: func.toRem(8);

        .hero-header-detail {
           @include mix.flex(row, space-between, center);
           color: var.$text-color;
           gap: func.toRem(4);
        }
    }
}

.hero-main {
    @include mix.flex(column, flex-start, center);
    gap: func.toRem(42);

    .datas-car {
        @include mix.flex(row, space-between, center);
        gap: func.toRem(104);

        .data-car {
            @include mix.flex(column, flex-start, center);
            gap: func.toRem(20);
        }

        .data-car-header {
            @include mix.flex(row, center, center);
            font-size: func.toRem(13);
            width: func.toRem(32);
            height: func.toRem(32);
            border-radius: 50%;
            background-color: var.$container-color;
        }

        .data-car-content {
            @include mix.flex(column, flex-start, center);
            gap: func.toRem(4);
        }

        .data-car-content div {
            @include mix.smaller-font-size;
            color: var.$text-color;
        }
    }
}

.hero-footer {
    @include mix.flex(row, center, center);
    padding-bottom: func.toRem(18);

    .start-container {
        position: relative;
        width: func.toRem(122);
        height: func.toRem(122);
    }

    .start-container div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .start-container div svg {
        width: func.toRem(90);
        height: func.toRem(90);
    }

    .start-txt {
        text-transform: uppercase;
        font-size: func.toRem(14);
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
}

//------ ABOUT SECTION --------//
#about .container {
    padding: func.toRem(72) 0 func.toRem(88) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 88px;
    grid-row-gap: 0px;
}

.about-left {
    position: relative;

    .about-img {
        width: func.toRem(480);
        height: func.toRem(320.141);
        flex-shrink: 0;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    .about-glass {
        @include mix.flex(column, center, center);
        gap: func.toRem(8);
        width: func.toRem(197);
        height: func.toRem(104);
        border-radius: func.toRem(20);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(8px);
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -50%);

        h3 {
            @include mix.h3-font-size;
            color: var.$white-color;
        }

        p {
            width: 157px;
            text-align: center;
            @include mix.smaller-font-size;
            color: var.$white-color;
        }
    }
}



.about-right {
    width: 401px;
    @include mix.flex(column, flex-end, flex-start);
    gap: 58px;

    .about-datas {
        @include mix.flex(column);
        gap: func.toRem(24);
    }

    h2 {
        width: 209px;
        @include mix.h2-font-size;
        color: var.$title-color;
    }

    p {
        @include mix.normal-font-size;
        color: var.$text-color;
    }

    .button a{
        @include mix.big-button;
    }

    .button a:hover {
        background-color: var.$first-color-alt;
    }
}




//------ POPULAR SECTION --------//
#popular .container {
    @include mix.flex(column, center, center);
    gap: 42px;
    padding: func.toRem(72) 0 func.toRem(48) 0;
}

.container > h2 {
    width: 278px;
    text-align: center;
    @include mix.h2-font-size;
    color: var.$title-color;
}

.popular-cards {
    @include mix.flex(row, center, center);
    gap: 48px;
    padding-top: 22px;
}

.popular-card {
    width: 258px;
    border-radius: 20px;
    background-color: var.$container-color;
    padding-top: 32px;
    padding-left: 24px;

    .txt-model {
        @include mix.normal-font-size;
        color: var.$text-color;
    }

    .img-model {
        text-align: right;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 20px;
    }

    .datas-model {
        @include mix.flex(column);
        gap: 10px
    }

    .rows-model {
        @include mix.flex(row, flex-start, center);
        gap: 20px;
    }

    .svg-txt-model {
        @include mix.flex(row, center, center);
        gap: func.toRem(4);

        span {
            @include mix.smaller-font-size;
            color: var.$white-color;
        }
    }

    .card-bottom {
        @include mix.flex(row, space-between, flex-start);
        padding-top: 31px;

        .button a{
            @include mix.space-button;
        }

        .button a:hover {
            background-color: var.$first-color-alt;
        }

    }
}










//****************************//
//********** FOOTER **********//
//****************************//