@use "functions/functions" as func;
@use "bases/reset";
@use "bases/fonts";
@use "variables/variables" as var;
@use "pages/home";
@use "mixins/mixins" as mix;


//****************************//
//****** GLOBAL SETTING ******//
//****************************//
body {
    font-family: fonts.$base-font;
    color: var.$white-color;
    background-color: var.$body-color;
}

h1 {
    font-size: func.toRem(36);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: var.$white-color;
}

h2 {
    font-size: func.toRem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.wrapper {
    width: func.toRem(1024);
    margin: 0rem auto;
}

.svg-txt {
    @include mix.center;
    gap: func.toRem(4);
}

.text-color {
    color: var.$text-color;
}

.uppercase {
    text-transform: uppercase
}


//****************************//
//******** NAVIGATION ********//
//****************************//
nav {
    @include mix.between-y-center;
    height: func.toRem(80);
    // background-color: rgb(17, 32, 32);

    ul {
        display: flex;
        gap: func.toRem(48);
        list-style-type: none;

        a {
            color: var.$white-color;
            font-size: func.toRem(16);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            text-decoration: none;
        }
    }
}


//****************************//
//*********** MAIN ***********//
//****************************//

//------ HERO SECTION --------//
#hero .container {
    @include mix.column-center;
    gap: func.toRem(56);
}

.hero-header {
    @include mix.column-center;
    padding-top: func.toRem(72);
    gap: func.toRem(24);

    .hero-header-content {
        @include mix.column-center;
        gap: func.toRem(8);

        .hero-header-detail {
           @include mix.between-y-center;
           color: var.$text-color;
           gap: func.toRem(4);
        }
    }
}

.hero-main {
    @include mix.column-center;
    gap: func.toRem(42);

    .datas-car {
        @include mix.between-y-center;
        gap: func.toRem(104);

        .data-car {
            @include mix.column-center;
            gap: func.toRem(20);
        }

        .data-car-header {
            @include mix.center;
            font-size: func.toRem(13);
            width: func.toRem(32);
            height: func.toRem(32);
            border-radius: 50%;
            background-color: var.$container-color;
        }

        .data-car-content {
            @include mix.column-center;
            gap: func.toRem(4);
        }

        .data-car-content div {
            @include mix.smaller-font-size;
            color: var.$text-color;
        }
    }
}

.hero-footer {
    @include mix.center;
    padding-bottom: func.toRem(42);

    .start-container {
        position: relative;
        width: func.toRem(122);
        height: func.toRem(122);
    }

    .start-container div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .start-container div svg {
        width: func.toRem(90);
        height: func.toRem(90);
    }

    .start-txt {
        text-transform: uppercase;
        font-size: func.toRem(14);
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }
}

#machines .container {
    padding: 72px 0 88px 0;
}


//****************************//
//********** FOOTER **********//
//****************************//