@use "../functions/functions" as func;

$body-color: #0A0A0B;
$container-color: #111213;

$first-color-alt: #306AD9;
$first-color: #4177DC;
$first-color-light: #608CE2;
$first-color-lighten: #93B1EB;

$title-color: #F1F2F3;
$text-color: #BABEC4;
$text-color-light: #888B91;
$white-color: #FFFFFF;
